################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out/build
/doc/html/.asciidoctor
/test/.vs
/test/out
test/testEnvironments.json
/.vscode/settings.json
/.vscode
/presentations/C++Now-2024/demo-code/control_styles/x64
/presentations/C++Now-2024/demo-code/test_1/x64
/presentations/C++Now-2024/demo-code/test_10/x64
/presentations/C++Now-2024/demo-code/test_2/x64
/presentations/C++Now-2024/demo-code/test_3/x64
/presentations/C++Now-2024/demo-code/test_4/x64
/presentations/C++Now-2024/demo-code/test_5/x64
/presentations/C++Now-2024/demo-code/test_6/x64
/presentations/C++Now-2024/demo-code/test_7/x64
/presentations/C++Now-2024/demo-code/test_8/x64
/presentations/C++Now-2024/demo-code/test_9/x64
/presentations/C++Now-2024/demo-code/x64
